/* html{
    background-color: #000;
} */

p{
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: black;
}

.row{
    height: 100%;
    /* background-color: #000; */
}



@media only screen and (min-width: 576px) {

    .col-lg-2{
        width: 20%;
    }
  }

@media only screen and (max-width: 576px) {
    
    .col-sm-3{
        width: 25%;
    }
  }  


.loader{
    position: fixed;
    text-align: center;
    bottom: 50%;
    width: 100%;
}

h3{
    width: 80%;
}